body{ 
    background: url(../img/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
  }

  h1 {
    color: #FFF;
  }
  .my-search-form input {
    width:100%;
    padding:10px;
  }
  .my-search-form button {
    width:33%;
    display: block;
    margin: 0 auto;
    border-radius:0;
    padding:10px;
  }
  